/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap-4-grid/css/grid.min.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #202124;
}

mat-form-field {
  margin-bottom: 10px;
}
