<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 offset-md-4">
      <mat-card>
        <mat-card-content>
          <div [formGroup]="loginForm" class="row">
            <mat-form-field floatLabel="always" class="col-12">
              <input matInput type="email" placeholder="Email"  formControlName="email">
            </mat-form-field>

            <mat-form-field floatLabel="always" class="col-12">
              <input matInput type="password" placeholder="Password" formControlName="password">
            </mat-form-field>

            <div class="col-12">
              <button mat-stroked-button color="primary" type="button" (click)="login()">Login</button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
