<div class="container mt-5">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 offset-md-4">
      <mat-card>
        <mat-card-content>
          <div [formGroup]="loginForm" class="row">
            <mat-form-field class="col-12">
              <input matInput type="email" placeholder="Email"  formControlName="email" value="test@wonderlist.app">
            </mat-form-field>

            <mat-form-field class="col-12">
              <input matInput type="password" placeholder="Password" formControlName="password" value="password">
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary" type="button" (click)="loginClick()" class="w-100">Login</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
