<div class="manage-wrapper row vh-100">
  <div class="col-md-2 sidebar-wrapper">
    <mat-toolbar>
      <mat-toolbar-row>
        <mat-form-field>
          <input matInput type="text" class="w-100">
        </mat-form-field>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-list>
      <mat-list-item *ngFor="let entry of entries" (click)="entryClicked(entry)" style="cursor: pointer;">
        <h4 matLine>{{ entry.title }}</h4>
        <p matLine>{{ entry.body }}</p>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <div class="col-md-10 h-100 p-0 m-0">
    <mat-toolbar>
      <mat-toolbar-row class="justify-content-end">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon" (click)="deleteEntryClicked(entry)">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="row h-100 p-5" style="background: #fff;">
      <div class="col-12 h-100">
        <div [formGroup]="entryForm" class="h-100">
          <input matInput class="title" (keyup.enter)="body.focus()" formControlName="title">
          <textarea class="body" formControlName="body" #body></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
