/**
* Entry
 */

.entry-card {
  border: 1px solid rgba(0,0,0,.10);
  cursor: pointer;
}

.entry-card:hover {
  border-color: rgba(0,0,0,.20);
}

.entry-card .title {
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

/**
* Other
 */

.add-entry-fab-button {
  margin: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
}
