.entry-card {
  border: 1px solid rgba(0,0,0,.10);
  cursor: pointer;
}

.entry-card:hover {
  border-color: rgba(0,0,0,.20);
}

.entry-card .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-entry-fab-button {
  margin: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
}
