<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpened" style="width: 250px; position: fixed; margin-top: 65px;">
    <ng-container *ngTemplateOutlet="sideNavRef"></ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-container *ngTemplateOutlet="sidenavContentRef"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #sideNavRef>
<mat-nav-list>
  <a mat-list-item (click)="notesClick()"><mat-icon class="mr-3">notes</mat-icon> Notes</a>
  <mat-divider></mat-divider>
  <a mat-list-item (click)="trashClick()"><mat-icon class="mr-3">delete</mat-icon> Trash</a>
</mat-nav-list>
</ng-template>

<ng-template #sidenavContentRef>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3 pt-4">

      <div>
        <mat-card
          class="entry-card mb-4 mat-elevation-z0"

          *ngFor="let entry of entries" (click)="editEntryClicked(entry)"
          #card>
          <mat-card-title class="mb-3">
            <div class="d-flex justify-content-between">
              <div class="title d-flex align-self-center">{{ entry.title }}</div>
              <div>
                <button mat-icon-button [matMenuTriggerFor]="entryMenu" (click)="$event.stopPropagation()" style="color: rgba(0,0,0,.4)">
                  <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #entryMenu>
                  <button mat-menu-item (click)="editEntryClicked(entry)">Edit</button>
                  <button mat-menu-item (click)="deleteEntryClicked(entry)">Delete</button>
                </mat-menu>
              </div>
            </div>
          </mat-card-title>
          <mat-card-subtitle>{{ entry.created_at }}</mat-card-subtitle>
          <mat-card-content>{{ entry.body }}</mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</div>

<div>
  <button mat-fab color="primary" (click)="addEntryClicked()" class="add-entry-fab-button">
    <mat-icon>add</mat-icon>
  </button>
</div>
</ng-template>
