<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="globalService.sidenavOpened" style="width: 270px; position: fixed; margin-top: 65px;">
    <ng-container *ngTemplateOutlet="sideNavRef"></ng-container>
  </mat-sidenav>

  <mat-sidenav-content>
    <ng-container *ngIf="!entries.length > 0">
      <div style="text-align: center;">
        <div class="mb-3"><mat-icon style="font-size: 75px;">delete</mat-icon></div>
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing</div>
      </div>
    </ng-container>

    <ng-container *ngTemplateOutlet="entryList"></ng-container>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #sideNavRef>
  <mat-nav-list>
    <a mat-list-item (click)="notesClick()"><mat-icon class="mr-3">notes</mat-icon> Notes</a>
    <a mat-list-item><mat-icon class="mr-3">label</mat-icon> Tags</a>
    <mat-divider></mat-divider>
    <a mat-list-item (click)="trashClick()"><mat-icon class="mr-3">delete</mat-icon> Trash</a>
  </mat-nav-list>
</ng-template>

<ng-template #entryList>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-6 offset-lg-3 pt-4">

        <div class="mb-4">
          <app-entry-edit
            [entry]="selectedEntry"
            [hidden]="false === globalService.showEntryEditComponent"
            (entrySave)="entryEditSave($event)"
            (entryUpdate)="entryEditUpdate($event)"
            (entryCancel)="entryEditCancel($event)"></app-entry-edit>
        </div>

        <div [ngClass]="{'entry-list-blured': selectedEntry}">
        <div *ngFor="let entry of entries" (click)="editEntryClick(entry)">
          <mat-card class="entry-card mb-4 mat-elevation-z0">
            <mat-card-title class="mb-2">
              <div class="d-flex justify-content-between">
                <div class="title d-flex align-self-center">{{ entry.title }}</div>
                <div>
                  <button mat-icon-button [matMenuTriggerFor]="entryMenu" (click)="$event.stopPropagation()" style="color: rgba(0,0,0,.4)">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                  </button>
                  <mat-menu #entryMenu>
                    <button *ngIf="!entry.trashed" mat-menu-item (click)="editEntryClick(entry)">Edit</button>
                    <button *ngIf="entry.trashed" mat-menu-item (click)="restoreEntryClick(entry)">Restore</button>
                    <button mat-menu-item (click)="deleteEntryClick(entry)">Delete</button>
                  </mat-menu>
                </div>
              </div>
            </mat-card-title>
            <mat-card-subtitle>{{ entry.created_at | date }}</mat-card-subtitle>
            <mat-card-content>{{ entry.body }}</mat-card-content>
          </mat-card>
        </div>
        </div>

      </div>
    </div>
</div>

<div>
  <button mat-fab color="primary" (click)="addEntryClick()" class="add-entry-fab-button">
    <mat-icon>add</mat-icon>
  </button>
</div>
</ng-template>
