<div mat-dialog-content>
  <div [formGroup]="form" class="row">
    <mat-form-field floatLabel="always" class="col-12">
      <label>
        <input matInput formControlName="current_password" type="password" placeholder="Current Password">
      </label>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button (click)="closeClick()" class="mr-2">Close</button>
  <button mat-flat-button color="primary" (click)="proceedClick()" [disabled]="form.invalid">Proceed</button>
</div>
