<div class="row">
  <div class="col-md-6 offset-md-3">
    <mat-card>
      <mat-card-title class="mb-3">Setting</mat-card-title>
      <mat-card-content>

        <div class="row no-gutters">
          <mat-form-field class="col-12">
            <input matInput placeholder="Full name">
          </mat-form-field>
          <mat-form-field class="col-12">
            <input matInput placeholder="Email">
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>
