<div class="row">
  <div class="col-12 col-md-4 offset-md-4">

    <mat-card class="mb-4">
      <div class="d-flex justify-content-between">
        <div>
          <div mat-card-title>Profile</div>
          <div mat-card-subtitle>Update your account information</div>
        </div>
        <a (click)="editProfileClick()" style="cursor: pointer">Edit</a>
      </div>
      <mat-card-content class="pt-4">
        <mat-list-item>
          <div mat-line class="d-flex justify-content-between">
            <div>Name</div>
          </div>
          <div mat-line>
            {{ user.name }}
          </div>
        </mat-list-item>
        <div class="my-4"><mat-divider [inset]="true"></mat-divider></div>
        <mat-list-item>
          <div mat-line class="d-flex justify-content-between">
            <div>Email Address</div>
          </div>
          <div mat-line>
            {{ user.email }}
          </div>
        </mat-list-item>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <div class="d-flex justify-content-between">
        <div>
          <div mat-card-title>Security</div>
          <div mat-card-subtitle>Update your account password </div>
        </div>
        <a (click)="editPasswordClick()" style="cursor: pointer">Edit</a>
      </div>
      <mat-card-content class="pt-4">
        <mat-list-item>
          <div mat-line class="d-flex justify-content-between">
            <div>Password</div>
          </div>
          <div mat-line>
            *********
          </div>
        </mat-list-item>
      </mat-card-content>
    </mat-card>

  </div>
</div>
