.sidebar-wrapper p{
  opacity: 0.8;
}

.manage-wrapper .title {
  width: 100%;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  font-weight: 300;
  outline: none;
  border-width: 0;
}

.manage-wrapper .body {
  outline: none;
  border-width: 0;
  background: #fff;
  font-size: 15px;
  width: 100%;
  height: 100%;
}
