<mat-toolbar color="primary" class="mat-elevation-z3" style="position: sticky; top: 0; z-index: 1000;">

  <mat-toolbar-row class="d-flex justify-content-between">

    <div class="d-flex">
      <mat-icon (click)="globalService.sidenavOpened = ! globalService.sidenavOpened" class="align-self-center mr-3" style="cursor: pointer;">dehaze</mat-icon>
      <span [routerLink]="['/manage/entries']" style="cursor: pointer; outline: none;">Wonderlist</span>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        {{ currentUser.name }}
      </button>
      <mat-menu #userMenu style="z-index: 10000">
        <button mat-menu-item [routerLink]="['/manage/settings']">Account</button>
        <button mat-menu-item (click)="logoutClick()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>

