<mat-toolbar color="primary" class="mat-elevation-z1" style="background: #23629F; position: sticky; top: 0; z-index: 1000;">

  <mat-toolbar-row class="d-flex justify-content-between">

    <div class="d-flex">
      <mat-icon (click)="globalService.sidenavOpened = ! globalService.sidenavOpened" class="align-self-center mr-3" style="cursor: pointer;">dehaze</mat-icon>
      <span [routerLink]="['/manage/entries']" style="cursor: pointer; outline: none;">Wonderlist</span>
    </div>

    <div>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
        {{ currentUser.name }}
      </button>
      <mat-menu #userMenu style="z-index: 10000">
        <button mat-menu-item [routerLink]="['/manage/settings']">Account</button>
        <button mat-menu-item (click)="logoutClick()">Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- toolbar ends -->

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="globalService.sidenavOpened" style="width: 270px; position: fixed; margin-top: 65px;">
    <mat-nav-list>
      <a mat-list-item routerLink="/manage/entries"><mat-icon class="mr-3">notes</mat-icon> Notes</a>
      <a mat-list-item routerLink="/manage/tags"><mat-icon class="mr-3">label</mat-icon> Tags</a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/manage/entries/trash"><mat-icon class="mr-3">delete</mat-icon> Trash</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


