<div [formGroup]="entryForm">

  <mat-card class="mat-elevation-z1 p-3">
    <mat-card-content>
      <mat-form-field floatLabel="always" class="w-100">
        <input matInput (keyup.enter)="body.focus()" formControlName="title" placeholder="Title" class="title">
      </mat-form-field>
      <mat-form-field floatLabel="always" class="w-100">
        <textarea matInput formControlName="body" placeholder="Text" #body class="body" style="min-height: 85px;"></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <div>
        <button mat-button (click)="cancelClick()" class="mr-1">Cancel</button>
        <button mat-flat-button *ngIf="!entry" (click)="postClick()" color="primary">Post</button>
        <button mat-flat-button *ngIf="entry" (click)="updateClick()" color="primary">Update</button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>
