<div [formGroup]="entryForm">

  <mat-card class="entry-edit-card">
    <div class="close-button-wrap">
      <mat-icon class="close-button">close</mat-icon>
    </div>
    <mat-card-content>
      <mat-form-field floatLabel="always" class="w-100">
        <input class="title" matInput (keyup.enter)="body.focus()" formControlName="title" placeholder="Title">
      </mat-form-field>
      <mat-form-field floatLabel="always" class="w-100">
        <textarea class="body" matInput formControlName="body" cdkTextareaAutosize placeholder="Text" #body></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-end">
      <div>
        <button mat-button (click)="cancelClick()" class="mr-1">Cancel</button>
        <button mat-flat-button *ngIf="!entry" (click)="postClick()" [disabled]="entryForm.invalid" color="primary">Post</button>
        <button mat-flat-button *ngIf="entry" (click)="updateClick()" [disabled]="entryForm.invalid" color="primary">Update</button>
      </div>
    </mat-card-actions>
  </mat-card>

</div>
