.entry-edit-card {
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  border: 1px solid rgba(0,0,0,.09);
}

.entry-edit-card .body {
  min-height: 70px;
  overflow: hidden;
}

.close-button-wrap {
  display: none;
  position: relative;;
}

.close-button {
  position: absolute;
  right: -12px;
  top: -12px;
  height: initial;
  width: initial;
  cursor: pointer;
  font-size: 18px;
  padding:2px;
}

.close-button:hover {
  color: rgba(0,0,0,0.6);
  background: #f0f0f0;
}
