<div>
  <div [formGroup]="editPasswordForm" class="row">
    <mat-form-field floatLabel="always" class="col-12">
        <input matInput formControlName="password" type="password" placeholder="New password">
        <mat-error *ngIf="editPasswordForm.get('password').errors?.serverError">
          {{ editPasswordForm.get('password').errors?.serverError }}
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="col-12">
        <input matInput formControlName="password_confirmation" type="password" placeholder="Retype password">
        <mat-error *ngIf="editPasswordForm.get('password_confirmation').errors?.serverError">
          {{ editPasswordForm.get('password_confirmation').errors?.serverError }}
        </mat-error>
    </mat-form-field>
    <mat-form-field floatLabel="always" class="col-12">
        <input matInput formControlName="current_password" type="password" placeholder="Current password">
        <mat-error *ngIf="editPasswordForm.get('current_password').errors?.serverError">
          {{ editPasswordForm.get('current_password').errors?.serverError }}
        </mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button (click)="closeClick()" class="mr-2">Close</button>
  <button mat-flat-button (click)="saveClick()" color="primary">Save</button>
</div>
